In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date, datetime
import calendar
import holidays

In [2]:
df = pd.read_csv('../../datos/00-bikes.csv',index_col = 0)

In [3]:
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,spring,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,spring,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,spring,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,spring,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

# Dteday

In [4]:
df['dteday']=df.dteday.apply(pd.to_datetime, format= "%d-%m-%Y")

In [5]:
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2018-01-01,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,2018-01-02,spring,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,2018-01-03,spring,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,2018-01-04,spring,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,2018-01-05,spring,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

# Season

In [6]:
def get_season(fecha):

  Y= fecha.year
  estaciones1 = [('invierno', date(Y,  1,  1),  date(Y,  3, 20)),
                ('primavera', date(Y,  3, 21),  date(Y,  6, 20)),
                ('verano', date(Y,  6, 21),  date(Y,  9, 22)),
                ('otoño', date(Y,  9, 23),  date(Y, 12, 20)),
                ('invierno', date(Y, 12, 21),  date(Y, 12, 31))]

  for estacion, inicio, fin in estaciones1:
      if inicio <= fecha <= fin:
        return estacion

In [7]:
df['season']= df.dteday.apply(get_season)

/tmp/ipykernel_405/3428126792.py:11: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  if inicio <= fecha <= fin:

In [8]:
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2018-01-01,invierno,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,2018-01-02,invierno,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,2018-01-03,invierno,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,2018-01-04,invierno,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,2018-01-05,invierno,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

---

# Vacaciones/ Festivo

In [9]:
usa_feriados= holidays.US()
usa_feriados

holidays.country_holidays('US')

In [10]:
def detectar_feriados(fecha):
    '''Definicion: nos retorna festivos o laborales segun la fecha
       return = 1(festivo) 0 (laboral)'''

    
    if fecha in usa_feriados:
        return 'festivo'

    else:
        return 'no festivo'

In [11]:
df['holiday']=df['dteday'].apply(detectar_feriados)

In [12]:
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2018-01-01,invierno,0,1,festivo,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,2018-01-02,invierno,0,1,no festivo,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,2018-01-03,invierno,0,1,no festivo,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,2018-01-04,invierno,0,1,no festivo,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,2018-01-05,invierno,0,1,no festivo,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

# Dia de la semana

In [13]:
def dia_semana(col):
    return col.isoweekday()

In [14]:
df['weekday']= df['dteday'].apply(dia_semana)

In [15]:
df.sample(5)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
482,483,2019-04-28,primavera,1,4,no festivo,7,0,2,15.443347,18.87520,48.9583,8.708325,1120,3100,4220
493,494,2019-05-09,primavera,1,5,no festivo,4,1,2,23.575000,27.65125,74.4167,14.499604,620,4097,4717
725,726,2019-12-27,invierno,1,12,no festivo,5,1,2,10.420847,11.33210,65.2917,23.458911,247,1867,2114
182,183,2018-07-02,verano,0,7,no festivo,1,0,1,30.271653,33.36540,44.4583,7.709154,2204,2915,5119
237,238,2018-08-26,verano,0,8,no festivo,7,1,1,28.700000,32.98665,76.1250,5.625488,768,3893,4661

# Laborables / no laborable

In [16]:
def workingday (weekday):
    '''Definicion: nos retorna dia laboral o no
       return = 1(dia laboral) 0 (fin de semana)'''


    if weekday >5 :
        return 'finde'
    else:
        return 'laborable'

In [17]:
df['workingday']= df['weekday'].apply(workingday)

In [18]:
df.head(7)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2018-01-01,invierno,0,1,festivo,1,laborable,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,2018-01-02,invierno,0,1,no festivo,2,laborable,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,2018-01-03,invierno,0,1,no festivo,3,laborable,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,2018-01-04,invierno,0,1,no festivo,4,laborable,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,2018-01-05,invierno,0,1,no festivo,5,laborable,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600
5,6,2018-01-06,invierno,0,1,no festivo,6,finde,1,8.378268,11.66045,51.8261,6.000868,88,1518,1606
6,7,2018-01-07,invierno,0,1,no festivo,7,finde,2,8.057402,10.44195,49.8696,11.304642,148,1362,1510

---

In [19]:
df.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

# Cambiamos el tipo de columnas a category

In [20]:
for col in['season', 'holiday', 'weekday','workingday','weathersit']:
    df[col] = df[col].astype('category')

In [21]:
df.dtypes

instant                int64
dteday        datetime64[ns]
season              category
yr                     int64
mnth                   int64
holiday             category
weekday             category
workingday          category
weathersit          category
temp                 float64
atemp                float64
hum                  float64
windspeed            float64
casual                 int64
registered             int64
cnt                    int64
dtype: object

In [23]:
df.to_csv('../../datos/02-bikes-limpio-con-outliers.csv')

In [24]:
df.to_pickle('../../datos/02-bikes-limpio-con-outliers.pickle')